body, footer {
	background-color: rgb(50, 50, 50);
}

h1, h2, h3, h4
{
	font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
}

h4
{
	font-size: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

body .btn {
	white-space: normal;
}

.btn-lg {
	padding: 0.75rem 1.5rem;
}

nav ul, nav li
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header
{
	background: url(../images/cubes.svg), -moz-linear-gradient(to bottom, rgb(222, 247, 255) 0%, rgb(173, 235, 255) 80%);
	background: url(../images/cubes.svg), -webkit-linear-gradient(to bottom, rgb(222, 247, 255) 0%, rgb(173, 235, 255) 80%);
	background: url(../images/cubes.svg), linear-gradient(to bottom, rgb(222, 247, 255) 0%, rgb(173, 235, 255) 80%);
	background-repeat: repeat, no-repeat;
	background-size: 30rem, cover;
	text-align: center;
}

header .nav-wrapper-outer {
	padding: 1rem 0;
}

header .nav-wrapper-inner
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

header .nav-wrapper-outer a, header .nav-wrapper-outer a:hover
{
	font-weight: 600;
	color: #000;
}

header .nav-wrapper-inner, header .logos
{
	flex-grow: 1;
	flex-shrink: 1;
}

header .logos {
	text-align: left;
}

header .logos img {
	max-width: 10rem;
}

.page-home header .logos
{
	text-align: center;
	margin-bottom: 2rem;
}

.page-home header .logos img {
	max-width: 80%;
}

header .jumbotron, header .calls-to-action
{
	padding-left: 1rem;
	padding-right: 1rem;
}

header .jumbotron {
	background-color: transparent;
}

header p {
	margin: 0;
}

header p.category
{
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-weight: 600;
	color: #444;
}

main
{
	background-color: #fff;
	padding: 4rem 0;
}

.page-home main {
	background-color: rgb(254, 254, 254);
}

main section {
	margin: 12rem 0;
}

main section:first-child {
	margin-top: 5rem;
}

main section:last-child {
	margin-bottom: 5rem;
}

.sponsors
{
	background-color: #eee;
	text-align: center;
	padding: 3rem 0;
}

.page-home .sponsors h2
{
	margin-top: 0;
	margin-bottom: 2rem;
}

.sponsors ul, .sponsors ul li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sponsors ul
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.sponsors ul li {
	margin: 1rem 2rem;
}

.sponsors ul li img
{
	max-width: 90%;
	height: 8rem;
}

footer
{
	text-align: center;
	font-size: 0.9rem;
	padding: 3rem 0;
	color: #fff;
}

footer nav {
	margin-bottom: 3rem;
}

footer nav li {
	display: inline-block;
}

footer nav li + li::before
{
	display: inline-block;
	padding: 0 0.5rem;
	content: "•";
}

footer nav ul.social li + li::before {
	content: "";
}

footer nav a, footer nav a:hover {
	color: #fff;
}

footer p {
	margin: 0;
}

footer nav ul.social, footer p + p {
	margin-top: 1rem;
}
