@import url('./thirdparty/fontawesome.min.css');

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}
